<div class="complete1">
    <img src="../images/trophy1.jpg" class="img" alt="completed1">

    <form action="/step1oflevel2" method="GET">
        <button type="submit" align="right">Level 2</button>
    </form>
</div>