<div class="container">
    <div class="">
        <form action="/quitGame" method="GET">
        <button type="submit" class="btn btn-outline-info">Quit Game</button>
        </form>
    </div>
</div>