{{!-- <div class="container"> --}}
    <div class="complete1">
        <img src="../images/trophy2.gif" class="img"> 
        <form action="/endGame" method="GET">
        <button type="submit">End Game</button>
        </form>
    </div>
{{!-- </div> --}}