<div class="complete1">
    <img src="../images/trophy21.jpg" class="img">
    
    <div class="centre">
        <form action="/endGame" method="GET">
        <button type="submit">End Game</button>
    </form>
    </div>
</div>