.container{
    text-align: center;
    margin-top: 3em;
    /* background-image:url(../images/sg4.png); */
    background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;
    border: 3px solid navy;
    border-radius: 12px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    /* color: white; */
}
.btn{
    display: none;
}
.success{
    display: none;
}